*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

.home-page {
  background-color: #8CDFC3;
  padding: 10px 20px 40px 110px;

  .secondary-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;

    .page-heading {
      font-size: 25px;
      font-weight: 500;
    }

    .middle-three-button {
      display: flex;
    }
  }

  .product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    place-items: center;

    .product {
      width: 68%;
    }
  }
}