*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

.signup {
  position: relative;
}

.signup-img {
  height: 100vh;
  width: 100vw;
}

.signup-overlay-form {
  position: absolute;
  background-color: #b9f3e0;
  height: 65vh;
  width: 25vw;
  min-height: 65vh;
  min-width: 25vw;
  top: 20%;
  left: 62%;
  border-radius: 2rem;
  text-align: left;

  input,
  button {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
  }

  input {
    margin-bottom: 20px;
    margin-top: 2px;
  }

  > .form-content {
    margin-left: 2rem;
    margin-right: 2rem;
    // position: absolute;

    > .top-heading {
      margin-top: 40px;
      margin-bottom: 50px;
      font-size: 30px;
      color: black;
      font-weight: 700;
    }

    > .signup-button {
      margin-top: 30px;
    }

    > .login-option {
      margin-top: 30px;
      font-size: 0.8rem;
      text-align: center;

      a {
        text-decoration: none;
        font-weight: bold;
        color: black;
      }
    }
  }
}
